.navbar {
  padding: .5rem;
  background-color: #003087;
}
.navbar-nav li {
  padding-right:5px;
}
.navbar .navbar-brand {
color: #999999;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
color: white;
}
.navbar .navbar-text {
  color: white;
}
.navbar .navbar-text a {
color: white;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
color: white; 
}
.navbar .navbar-nav .nav-link {
color: #999999;
border-radius: .25rem;
margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
color: white;
}
